In [12]:
import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb 
from tqdm.notebook import tqdm_notebook
import matplotlib.pyplot as plt
import seaborn as sns
import json
from scipy import stats
import scipy

In [5]:
df_combined = pd.read_csv('Data/final_tmdb_data_combined.csv.gz')
df_combined

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,Earth is in a state of constant war and two co...,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,"After falling prey to underworld, four friends...",...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,"Hong Kong, 1962: Chow Mo-Wan and Su Li-Zhen mo...",...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.100,2070.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345155,NaN,NaN,NaN,0.0,[],NaN,599083.0,ml,ഓട്ടം,"Set in Trivandrum, the story of Ottam unfolds ...",...,0.0,120.0,"[{'english_name': 'Malayalam', 'iso_639_1': 'm...",Released,NaN,Ottam,0.0,0.000,0.0,unknow
345156,NaN,/htoReVItKtolso5VJqFqJDBaOwm.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,635903.0,ml,മനോഹരം,Manoharan is a poster artist struggling to fin...,...,0.0,122.0,"[{'english_name': 'Malayalam', 'iso_639_1': 'm...",Released,NaN,Manoharam,0.0,6.136,11.0,unknow
345157,NaN,/z6YpkQiWLnRKl5yQD9dSiPDFWN.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,711261.0,en,No Apology,When a group of women struggle to deal with th...,...,0.0,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,No Apology,0.0,8.000,1.0,unknow
345158,NaN,/tjHUeULyw2vtS1DXFp0OHfhUzRX.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,598553.0,ca,La vida sense la Sara Amat,"Pep, a 13-year-old boy, is in love with a girl...",...,0.0,74.0,"[{'english_name': 'Catalan', 'iso_639_1': 'ca'...",Released,NaN,Life without Sara Amat,0.0,7.714,7.0,unknow
345159,NaN,NaN,NaN,0.0,[],NaN,897433.0,en,The Last White Witch,"One day, a charming and mystical girl, Fuka, a...",...,0.0,97.0,[],Released,NaN,The Last White Witch,0.0,0.000,0.0,unknow

In [8]:
# check duplicates 
df_combined.duplicated().sum()

199106

In [9]:
# drop duplicates
df_combined = df_combined.drop_duplicates()
# check again 
df_combined.duplicated().sum()

0

In [10]:
# checking missing values in certification column
nan_certification = df_combined['certification'].isna().sum()
print(f'there are {nan_certification} movies with missing certification')

there are 86795 movies with missing certification

In [11]:
df_combined['genres']

0                                                       NaN
1         [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...
2                  [{'id': 878, 'name': 'Science Fiction'}]
3         [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
4         [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
                                ...
345155                                                   []
345156    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
345157                        [{'id': 18, 'name': 'Drama'}]
345158    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
345159                                                   []
Name: genres, Length: 146054, dtype: object

In [15]:
df_combined['certification'] = df_combined['certification'].fillna('unknow')

C:\Users\Ernesto\AppData\Local\Temp\ipykernel_13872\826872245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined['certification'] = df_combined['certification'].fillna('unknow')

In [16]:
## Function to get just the genre names as a list 

def get_genre_name(x):
    x = x.replace("'",'"')
    x = json.loads(x)
    
    genres = []
    for genre in x:
        genres.append(genre['name'])
    return genres

In [17]:
## Use our function and exploding the new column
#get_genre_name(df.loc[3,'genres'])

# use get_genre_name and convert all the genere name in list
df_combined['genres_list'] = df_combined['genres'].apply(get_genre_name)
df_explode = df_combined.explode('genres_list')
df_explode

AttributeError: 'float' object has no attribute 'replace'